
.App {
  background-color: #E4F6ED;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/*react-big-calendar*/
.rbc-calendar{
  margin: 0;
}
.rbc-toolbar{
  background-color: white;
}
.rbc-month-view{
  background-color: white;
}
.rbc-off-range-bg{
  background-color: transparent;
}

/* react calendar */
.react-calendar{
  font-family: Arial, Helvetica, sans-serif;
}
.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none;
}